<?xml version='1.0' encoding='utf-8'?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ns5="http://www.mulesoft.org/schema/mule/servicenow" xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:workday="http://www.mulesoft.org/schema/mule/workday" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd http://www.mulesoft.org/schema/mule/servicenow http://www.mulesoft.org/schema/mule/servicenow/current/mule-servicenow.xsd http://www.mulesoft.org/schema/mule/workday http://www.mulesoft.org/schema/mule/workday/current/mule-workday.xsd">

<os:object-store name="watermarkStore" persistent="false" doc:name="Object store" />

<configuration-properties file="common.properties" doc:id="7584fb1d-2fa2-445a-b949-eed01f5785bd" doc:name="Configuration properties" />
<configuration-properties file="mule.${mule.env}.properties" doc:id="86e0eb9d-cf2e-451a-9e09-b4afdf13e0e9" doc:name="Configuration properties" />
<configuration-properties file="mule-artifact.properties" doc:id="0abdf143-d5d1-4168-bdbd-7e3722442725" doc:name="Configuration properties" />
<workday:config name="Workday_Config" doc:id="a055f94a-1d99-4063-89ba-a1eb89daf553" doc:name="Workday Config">
		<workday:basic-connection hostName="${wday.hostname}" password="${wday.password}" tenantName="${wday.tenant}" username="${wday.username}">
			<reconnection>
				<reconnect />
			</reconnection>
			<workday:transport>
				<workday:default-http-dispatcher-provider />
			</workday:transport>
		</workday:basic-connection>
	</workday:config>
	
	<ns5:config name="ServiceNow_Config" doc:id="92b59af3-9802-4a08-a1a1-53607f956389" doc:name="ServiceNow Config">
		<ns5:basic-connection password="${snow.password}" serviceAddress="${snow.endpoint}" serviceNowVersion="JAKARTA" username="${snow.user}">
			<ns5:transport>
				<ns5:basic-auth-http-message-dispatcher-provider password="${snow.password}" username="${snow.user}" />
			</ns5:transport>
		</ns5:basic-connection>
	</ns5:config>
<global-property doc:name="Global Property" name="mule.env" value="dev" /></mule>